# Local .terraform directories
**/.terraform/

# Terraform state files (crucial if storing state remotely)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Exclude sensitive variables files containing secrets/passwords
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan output files
*.tfplan

# Operating System & IDE artifacts
.DS_Store
.vscode/
.idea/
